@model IEnumerable<ModelsLibrary.Orders>

@using Microsoft.AspNetCore.Http;

@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Order History";
}

<h1>Customer Order History</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            if (item.CustomerID == @HttpContextAccessor.HttpContext.Session.GetInt32("id"))
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CustomerID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderTime)
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-controller="App" asp-action="MainMenu">Back Main Menu</a>
</div>