@* @model  *@

@{
    ViewData["Title"] = "Order History";
}

<h1>Chosen Locations's Order History</h1>

@*UPDATE FOR ORDERS/ORDERSDETIALS MODEL
        <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LocationID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LocationName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocationID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LocationName)
                    </td>
                    <td>
                        <a asp-action="Store" asp-route-id="@item.LocationID">Shop</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>*@

<div>
    <a asp-controller="App" asp-action="LocationsListHistory">Back to Locations</a>
</div>